# Ignore documentation output.
**/docs/**/html/*

# Ignore CMake build directory.
build/
build_tests/

# Ignore build artifacts
*.o

# Ignore code coverage artifacts
*.gcda
*.gcno
*.gcov

# Ignore IDE setting folders
.vscode/
